[Unit]
Description=Dropbatch job runner
ConditionPathExistsGlob=|%h/Dropbox/%H-*.sh
ConditionPathExistsGlob=|%h/Dropbox/.System/Batch/%H-*.sh

[Service]
Type=oneshot
ExecStart=%h/bin/bin/cron.dropbatch
KillMode=process
