#!python
# See the 'methods' dict in wtsmonitor.pyw for a list of possible events.

def default(event, session):
	pass

def unknown(event, session):
	pass

def SessionLock(event, session):
	pass
