[submodule "hacks/Text/obml-format"]
	path = hacks/Text/obml-format
	url = https://gist.github.com/702b31cddcc5a6622724.git
[submodule "hacks/Dead-projects/mq"]
	path = hacks/Dead-projects/mq
	url = nullroute:hacks/mq.git
