# compiled binaries
kerberos/pklist
misc/args
misc/silentcat
misc/spawn
misc/xor
misc/xors
thirdparty/bgrep
thirdparty/linux26
thirdparty/logwipe
thirdparty/natsort
thirdparty/writevt
# cached bytecode
*.pyc
*.pyo
