[Unit]
Description=Kernel post-upgrade script (for linux-%i)

[Service]
Type=oneshot
ExecStart=/boot/kernel-post-upgrade.sh linux-%i

# vim: ft=desktop
