[Unit]
Description=Kerberos machine credentials (%i instance)
After=krb5-kdc.service
After=named.service
After=network.target
After=unbound.service
Wants=remote-fs-pre.target
Before=nslcd.service
Before=remote-fs-pre.target

[Service]
Type=forking
ExecStart=/home/grawity/code/kerberos/host-kinit -s %i

[Install]
WantedBy=multi-user.target
