[Unit]
Description=Kerberos machine credentials (%i instance)

[Service]
ExecStart=/home/grawity/code/kerberos/host-kinit -s %i

[Install]
WantedBy=multi-user.target
