[Unit]
Description=Kerberos machine credentials (%i instance)
Wants=remote-fs-pre.target
Before=remote-fs-pre.target

[Service]
ExecStart=/home/grawity/code/kerberos/host-kinit -s %i

[Install]
WantedBy=multi-user.target
