body {
	font: 10pt sans-serif;
}

a {
	color: #44d;
	text-decoration: none;
}

table {
	border-collapse: collapse;
}

#sessions thead,
#sessions tfoot {
	background: #eee;
}

#sessions tfoot {
	font-size: smaller;
}

#sessions td,
#sessions th {
	border-width: 1px 0;
	border-style: solid;
	border-color: #aaa;
	padding: 3px;
	text-align: left;
	vertical-align: top;
}

#sessions .stale td {
	color: #aaa;
	font-style: italic;
}

.comment {
	font-style: italic;
}

.footer {
	color: gray;
	font-size: smaller;
}
