[Unit]
Description=Kerberos 5 host credentials cache

[Service]
Environment=KRB5CCNAME=FILE:/tmp/krb5cc_machine
ExecStart=/usr/bin/k5start -f /etc/krb5.keytab -U -l 10h -K 10 -L -q -v
ExecReload=/bin/kill -ALRM $MAINPID
ExecStopPost=/usr/bin/kdestroy
StandardOutput=null
StandardError=null

[Install]
WantedBy=multi-user.target
