[Desktop Entry]
Name=Internet shortcut handler
Icon=emblem-symbolic-link
Exec=url-file-handler %f
Type=Application
Terminal=false
MimeType=application/x-mswinurl;text/x-uri;
