[Unit]
Description=Secret Service

[Service]
Type=dbus
BusName=org.freedesktop.secrets
ExecStart=/usr/bin/env %h/.local/bin/secretsd

[Install]
WantedBy=default.target
